<!doctype html>
<head>
  <title>Hello from Flask</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
  function clickBtn1(){
	    // 値を取得
	    var value = document.form1.text1.value;
      var value2 = document.form1.text2.value;
      console.log(value2);
      var plotdata = document.getElementById('plotimg');
      $.get("/plot/" + value + '/' + value2, function(data) {
          plotdata.src = "data:image/png:base64," + data;
      });
  };
  $(document).ready(function() {
      clickBtn1();
  });
  </script>
</head>
<h1>巡回セールスマン問題</h1>

<div>
  <form name="form1">
    スタート : <input type="text" name="text1" value="京都駅" maxlength="5"><br>
    ゴール : <input type="text" name="text2" value="野洲駅" maxlength="5">
  </form>
  <input type="button" value="経路検索" onclick="clickBtn1()">
</div>
<br/>
<img id=plotimg></img>