absl-py==0.8.0
ansible==2.9.2
awscli==1.16.225
botocore==1.12.215
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
click==7.1.2
colorama==0.3.9
cryptography==2.8
cycler==0.10.0
docutils==0.15.2
Flask==1.1.2
flask-googlemaps==0.4.0
googlemaps==4.3.1
grpcio==1.23.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.1
kiwisolver==1.2.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.17.0
opencv-python==4.1.2.30
pandas==0.25.1
Pillow==7.1.2
pipenv==2018.11.26
protobuf==3.9.1
PuLP==2.1
pyasn1==0.4.6
pycparser==2.19
pygeocoder==1.2.5
pyparsing==2.4.7
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
requests==2.23.0
rsa==3.4.2
s3transfer==0.2.1
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.12.0
sklearn==0.0
tqdm==4.46.0
urllib3==1.25.3
vector-tile-base==1.0
virtualenv==16.7.9
virtualenv-clone==0.5.3
Werkzeug==0.15.5
